In [37]:
import numpy as np
import pandas as pd

# Read Spotify  dataset 
df = pd.read_csv('Spotify.csv')

In [38]:
#Display Spotify Dataset 
df

      Track Number  Popularity  Danceability
0                6          50         0.614
1                1          64         0.601
2               10           0         0.450
3                2          52         0.556
4                5          80         0.802
...            ...         ...           ...
9992            11          59         0.566
9993             7          68         0.747
9994             2          61         0.676
9995             6          61         0.664
9996             5           0         0.858

[9997 rows x 3 columns]

In [39]:
#Calculate and display the  Mean of of each Column 
#1 calclaute the sum of each column
column_sums = df.sum()
#2 calclulate the cpunt of each coloumn
column_counts = df.count()

#The sum/Coulmn will equals to the mean 
column_Mean = column_sums / column_counts

#Dsiplay the mean of each column
print("Sample Mean :")
print(column_Mean)

Sample Mean :
Track Number     4.958087
Popularity      37.632190
Danceability     0.607925
dtype: float64

In [40]:
#Calulate and diplsya the Stanard error of each column
column_standard_errors = df.sem()

#Display the standard error of each column 
print("Standard error :")
print(column_standard_errors)

Standard error :
Track Number    0.055037
Popularity      0.294634
Danceability    0.001459
dtype: float64